#container {
  height: 100%;
}
.row {
  margin-left: -10px;
  margin-right: -10px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto,
.col-xxl-1,
.col-xxl-2,
.col-xxl-3,
.col-xxl-4,
.col-xxl-5,
.col-xxl-6,
.col-xxl-7,
.col-xxl-8,
.col-xxl-9,
.col-xxl-10,
.col-xxl-11,
.col-xxl-12,
.col-xxl,
.col-xxl-auto {
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 1600px) {
  .col-xxl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    -ms-flex-preferred-size: 0;
    -ms-flex-positive: 1;
  }

  .col-xxl-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-xxl-1 {
    -ms-flex: 0 0 8.3333333333%;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-xxl-2 {
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-xxl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xxl-4 {
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-xxl-5 {
    -ms-flex: 0 0 41.6666666667%;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-xxl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xxl-7 {
    -ms-flex: 0 0 58.3333333333%;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-xxl-8 {
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-xxl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xxl-10 {
    -ms-flex: 0 0 83.3333333333%;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-xxl-11 {
    -ms-flex: 0 0 91.6666666667%;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-xxl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-xxl-first {
    -ms-flex-order: -1;
    order: -1;
  }

  .order-xxl-1 {
    -ms-flex-order: 1;
    order: 1;
  }

  .order-xxl-2 {
    -ms-flex-order: 2;
    order: 2;
  }

  .order-xxl-3 {
    -ms-flex-order: 3;
    order: 3;
  }

  .order-xxl-4 {
    -ms-flex-order: 4;
    order: 4;
  }

  .order-xxl-5 {
    -ms-flex-order: 5;
    order: 5;
  }

  .order-xxl-6 {
    -ms-flex-order: 6;
    order: 6;
  }

  .order-xxl-7 {
    -ms-flex-order: 7;
    order: 7;
  }

  .order-xxl-8 {
    -ms-flex-order: 8;
    order: 8;
  }

  .order-xxl-9 {
    -ms-flex-order: 9;
    order: 9;
  }

  .order-xxl-10 {
    -ms-flex-order: 10;
    order: 10;
  }

  .order-xxl-11 {
    -ms-flex-order: 11;
    order: 11;
  }

  .order-xxl-12 {
    -ms-flex-order: 12;
    order: 12;
  }

  .offset-xxl-0 {
    margin-left: 0;
  }

  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }

  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }

  .offset-xxl-3 {
    margin-left: 25%;
  }

  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }

  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }

  .offset-xxl-6 {
    margin-left: 50%;
  }

  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }

  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }

  .offset-xxl-9 {
    margin-left: 75%;
  }

  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }

  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
}

.page-content {
  padding: 20px;
  padding-top: 66px;
  padding-bottom: 0;
}

 .panel {
  margin-bottom: 20px;
  overflow: auto;
}

/* 清除浮动 */
.clear {
  clear: both;
}

.panel-title {
  padding: 15px 20px;
  font-size: 14px;
}

.panel-body {
  padding: 5px 20px;
  position: relative;
}

.card {
  margin-bottom: 20px;
}

.table-custom th,
.table-custom td {
  max-width: 500px;
  min-width: 80px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.table-custom a {
  text-decoration: none;
}
.form-material.floating {
  margin: 0 !important;
}
.form-material .form-control {
  background-size: 0 2px,100% 1px;
  background-image: linear-gradient(#3e8ef7,#3e8ef7),linear-gradient(#CCD5DB,#CCD5DB);
}
.page-animation {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 4;
  background: rgba(255, 255, 255, 0.3);
  transform: translateY(-50%);
  color: #f1f4f5 !important;
}
/* 日历控件active，边框颜色 */
.el-range-editor.is-active {
  border-color: #49c26d;
}
.el-range-editor.is-active, .el-range-editor.is-active:hover {
  border-color: #49c26d;
}
.el-date-table td.available:hover {
  color: #49c26d;
}
.el-date-table td.today span {
  color: #49c26d;
}
.el-date-table td.end-date span, .el-date-table td.start-date span {
  background-color: #49c26d;
}
/* select 改边边框颜色 */
.el-select .el-input.is-focus .el-input__inner {
  border-color: #49c26d;
}
.el-select .el-input__inner:focus {
  border-color: #49c26d;
}
/* select2改边边框颜色 */
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid #49c26d 1px!important;
}
.select2-container--default .select2-dropdown {
  border-color: #49c26d!important;
}
.select2-container--default.select2-container--open .select2-selection {
  border-color: #49c26d!important;
}
/* 下拉框的字体颜色 */
.el-select-dropdown__item.selected {
  color:#49c26d!important;
}
.el-select {
  width: 100%;
}
.el-date-editor .el-range-separator {
  line-height: 30px;
  width: 10%;
}
