.page-content {
  padding: 30px;
}

.form-material.form-group .form-control-label {
  padding-top: 0;
  padding-bottom: 0;
}

.form-material.form-group .form-control-label {
  padding-top: 0;
  padding-bottom: 0;
}

.form-material {
  position: relative;
}

.form-material.floating {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-material.floating+.form-material.floating {
  margin-top: 40px;
}

.form-material .form-control {
  padding-right: 0;
  padding-left: 0;
  background-color: transparent;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-size: 0 2px, 100% 1px;
  transition: background 0s ease-out;
}

.form-material .form-control, .form-material .form-control:focus, .form-material .form-control.focus {
  float: none;
  background-image: linear-gradient(#3e8ef7, #3e8ef7), linear-gradient(#e4eaec, #e4eaec);
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

.no-cssgradients .form-material .form-control {
  border-bottom: 2px solid #e4eaec;
}

.form-material .form-control::-webkit-input-placeholder {
  color: #a3afb7;
}

.form-material .form-control::-moz-placeholder {
  color: #a3afb7;
}

.form-material .form-control:-ms-input-placeholder {
  color: #a3afb7;
}

.form-material .form-control:disabled::-webkit-input-placeholder {
  color: #ccd5db;
}

.form-material .form-control:disabled::-moz-placeholder {
  color: #ccd5db;
}

.form-material .form-control:disabled:-ms-input-placeholder {
  color: #ccd5db;
}

.form-material .form-control:focus, .form-material .form-control.focus {
  background-size: 100% 2px, 100% 1px;
  outline: none;
  transition-duration: .3s;
}

.no-cssgradients .form-material .form-control:focus, .no-cssgradients .form-material .form-control.focus {
  background: transparent;
  border-bottom: 2px solid #3e8ef7;
}

.form-material .form-control:disabled, .form-material .form-control[disabled], fieldset[disabled] .form-material .form-control {
  background: transparent;
  background: transparent;
  border-bottom: 1px dashed #ccd5db;
}

.form-material .form-control:disabled~.floating-label, .form-material .form-control[disabled]~.floating-label, fieldset[disabled] .form-material .form-control~.floating-label {
  color: #ccd5db;
}

.form-material textarea.form-control, .form-material select[multiple], .form-material select[size] {
  height: auto;
}

.form-material .form-control-label {
  font-weight: 500;
}

.form-material.form-group .form-control-label {
  padding-top: 0;
  padding-bottom: 0;
}

.form-material .floating-label {
  position: absolute;
  left: 0;
  font-size: 1rem;
  color: #76838f;
  pointer-events: none;
  transition: .3s ease all;
}

.form-material .floating-label.floating-label-static {
  position: relative;
  top: auto;
  display: block;
}

.form-material [class*="col-"]>.floating-label {
  left: 1.0715rem;
}

.form-material .form-control~.floating-label {
  top: .57142857rem;
  font-size: 1rem;
}

.form-material .form-control:focus~.floating-label, .form-material .form-control.focus~.floating-label, .form-material .form-control:not(.empty)~.floating-label {
  top: -0.8rem;
  font-size: .8rem;
}

.form-material .form-control:-webkit-autofill~.floating-label {
  top: -0.8rem;
  font-size: .8rem;
}

.form-material .form-control-sm~.floating-label {
  top: .429rem;
  font-size: .858rem;
}

.form-material .form-control-sm:focus~.floating-label, .form-material .form-control-sm.focus~.floating-label, .form-material .form-control-sm:not(.empty)~.floating-label {
  top: -0.6864rem;
  font-size: .6864rem;
}

.form-material .form-control-sm:-webkit-autofill~.floating-label {
  top: -0.6864rem;
  font-size: .6864rem;
}

.form-material .form-control-lg~.floating-label {
  top: .4286666667rem;
  font-size: 1.286rem;
}

.form-material .form-control-lg:focus~.floating-label, .form-material .form-control-lg.focus~.floating-label, .form-material .form-control-lg:not(.empty)~.floating-label {
  top: -1.0288rem;
  font-size: 1.0288rem;
}

.form-material .form-control-lg:-webkit-autofill~.floating-label {
  top: -1.0288rem;
  font-size: 1.0288rem;
}

.form-material .form-control:focus~.floating-label, .form-material .form-control.focus~.floating-label, .form-material .form-control:not(.empty)~.floating-label {
  font-weight: 500;
}

.form-material .form-control:-webkit-autofill~.floating-label {
  font-weight: 500;
}

.form-material .form-control:focus~.floating-label, .form-material .form-control.focus~.floating-label {
  color: #3e8ef7;
}

.form-material textarea.form-control {
  padding-bottom: .429rem;
  resize: none;
}

.form-material.floating textarea.form-control {
  padding-top: .429rem;
}

.form-material select.form-control {
  border: 0;
  border-radius: 0;
}

.form-material:not(.floating) .form-control-label+select[multiple] {
  margin-top: 5px;
}

.form-material .hint {
  position: absolute;
  display: none;
  font-size: 80%;
}

.form-material .form-control:focus~.hint, .form-material .form-control.focus~.hint {
  display: block;
}

.form-material .form-control:not(.empty):invalid~.floating-label, .form-material .form-control.focus:invalid~.floating-label {
  color: #ff4c52;
}

.form-material .form-control:invalid {
  background-image: linear-gradient(#ff4c52, #ff4c52), linear-gradient(#e4eaec, #e4eaec);
}

.form-material.has-danger .form-control:focus, .form-material.has-danger .form-control.focus, .form-material.has-danger .form-control:not(.empty) {
  background-image: linear-gradient(#ff4c52, #ff4c52), linear-gradient(#e4eaec, #e4eaec);
}

.no-cssgradients .form-material.has-danger .form-control:focus, .no-cssgradients .form-material.has-danger .form-control.focus, .no-cssgradients .form-material.has-danger .form-control:not(.empty) {
  background: transparent;
  border-bottom: 2px solid #ff4c52;
}

.form-material.has-danger .form-control:-webkit-autofill {
  background-image: linear-gradient(#ff4c52, #ff4c52), linear-gradient(#e4eaec, #e4eaec);
}

.no-cssgradients .form-material.has-danger .form-control:-webkit-autofill {
  background: transparent;
  border-bottom: 2px solid #ff4c52;
}

.form-material.has-danger .form-control:not(.empty) {
  background-size: 100% 2px, 100% 1px;
}

.form-material.has-danger .form-control-label {
  color: #ff4c52;
}

.form-material.has-danger .form-control:focus~.floating-label, .form-material.has-danger .form-control.focus~.floating-label, .form-material.has-danger .form-control:not(.empty)~.floating-label {
  color: #ff4c52;
}

.form-material.has-danger .form-control:-webkit-autofill~.floating-label {
  color: #ff4c52;
}

.form-material.has-info .form-control:focus, .form-material.has-info .form-control.focus, .form-material.has-info .form-control:not(.empty) {
  background-image: linear-gradient(#0bb2d4, #0bb2d4), linear-gradient(#e4eaec, #e4eaec);
}

.no-cssgradients .form-material.has-info .form-control:focus, .no-cssgradients .form-material.has-info .form-control.focus, .no-cssgradients .form-material.has-info .form-control:not(.empty) {
  background: transparent;
  border-bottom: 2px solid #0bb2d4;
}

.form-material.has-info .form-control:-webkit-autofill {
  background-image: linear-gradient(#0bb2d4, #0bb2d4), linear-gradient(#e4eaec, #e4eaec);
}

.no-cssgradients .form-material.has-info .form-control:-webkit-autofill {
  background: transparent;
  border-bottom: 2px solid #0bb2d4;
}

.form-material.has-info .form-control:not(.empty) {
  background-size: 100% 2px, 100% 1px;
}

.form-material.has-info .form-control-label {
  color: #0bb2d4;
}

.form-material.has-info .form-control:focus~.floating-label, .form-material.has-info .form-control.focus~.floating-label, .form-material.has-info .form-control:not(.empty)~.floating-label {
  color: #0bb2d4;
}

.form-material.has-info .form-control:-webkit-autofill~.floating-label {
  color: #0bb2d4;
}

.form-material .input-group .form-control-wrap {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-right: 5px;
  margin-left: 5px;
}

.form-material .input-group .form-control-wrap .form-control {
  float: none;
  width: 100%;
}

.form-material .input-group .input-group-addon {
  background: transparent;
  border: 0;
}

.form-material .input-group .input-group-btn .btn {
  margin: 0;
  border-radius: .286rem;
}

.form-material input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.form-material.floating {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-material.floating+.form-material.floating {
  margin-top: 40px;
}

.form-material .form-control:disabled~.floating-label, .form-material .form-control[disabled]~.floating-label, fieldset[disabled] .form-material .form-control~.floating-label {
  color: #ccd5db;
}

.form-material textarea.form-control, .form-material select[multiple], .form-material select[size] {
  height: auto;
}

.form-material .form-control-label {
  font-weight: 500;
}

.form-material.form-group .form-control-label {
  padding-top: 0;
  padding-bottom: 0;
}

.form-material .floating-label {
  position: absolute;
  left: 0;
  font-size: 1rem;
  color: #76838f;
  pointer-events: none;
  transition: .3s ease all;
}

.form-material .floating-label.floating-label-static {
  position: relative;
  top: auto;
  display: block;
}

.form-material [class*="col-"]>.floating-label {
  left: 1.0715rem;
}

.form-material .form-control~.floating-label {
  top: .57142857rem;
  font-size: 1rem;
}

.form-material .form-control:focus~.floating-label, .form-material .form-control.focus~.floating-label, .form-material .form-control:not(.empty)~.floating-label {
  top: -0.8rem;
  font-size: .8rem;
}

.form-material .form-control:-webkit-autofill~.floating-label {
  top: -0.8rem;
  font-size: .8rem;
}

.form-material .form-control-sm~.floating-label {
  top: .429rem;
  font-size: .858rem;
}

.form-material .form-control-sm:focus~.floating-label, .form-material .form-control-sm.focus~.floating-label, .form-material .form-control-sm:not(.empty)~.floating-label {
  top: -0.6864rem;
  font-size: .6864rem;
}

.form-material .form-control-sm:-webkit-autofill~.floating-label {
  top: -0.6864rem;
  font-size: .6864rem;
}

.form-material .form-control-lg~.floating-label {
  top: .4286666667rem;
  font-size: 1.286rem;
}

.form-material .form-control-lg:focus~.floating-label, .form-material .form-control-lg.focus~.floating-label, .form-material .form-control-lg:not(.empty)~.floating-label {
  top: -1.0288rem;
  font-size: 1.0288rem;
}

.form-material .form-control-lg:-webkit-autofill~.floating-label {
  top: -1.0288rem;
  font-size: 1.0288rem;
}

.form-material .form-control:focus~.floating-label, .form-material .form-control.focus~.floating-label, .form-material .form-control:not(.empty)~.floating-label {
  font-weight: 500;
}

.form-material .form-control:-webkit-autofill~.floating-label {
  font-weight: 500;
}

.form-material .form-control:focus~.floating-label, .form-material .form-control.focus~.floating-label {
  color: #3e8ef7;
}

.form-material textarea.form-control {
  padding-bottom: .429rem;
  resize: none;
}

.form-material.floating textarea.form-control {
  padding-top: .429rem;
}

.form-material select.form-control {
  border: 0;
  border-radius: 0;
}

.form-material:not(.floating) .form-control-label+select[multiple] {
  margin-top: 5px;
}

.form-material .hint {
  position: absolute;
  display: none;
  font-size: 80%;
}

.form-material .form-control:focus~.hint, .form-material .form-control.focus~.hint {
  display: block;
}

.form-material .form-control:not(.empty):invalid~.floating-label, .form-material .form-control.focus:invalid~.floating-label {
  color: #ff4c52;
}

.form-material .form-control:invalid {
  background-image: linear-gradient(#ff4c52, #ff4c52), linear-gradient(#e4eaec, #e4eaec);
}

.form-material.has-danger .form-control:focus, .form-material.has-danger .form-control.focus, .form-material.has-danger .form-control:not(.empty) {
  background-image: linear-gradient(#ff4c52, #ff4c52), linear-gradient(#e4eaec, #e4eaec);
}

.no-cssgradients .form-material.has-danger .form-control:focus, .no-cssgradients .form-material.has-danger .form-control.focus, .no-cssgradients .form-material.has-danger .form-control:not(.empty) {
  background: transparent;
  border-bottom: 2px solid #ff4c52;
}

.form-material.has-danger .form-control:-webkit-autofill {
  background-image: linear-gradient(#ff4c52, #ff4c52), linear-gradient(#e4eaec, #e4eaec);
}

.no-cssgradients .form-material.has-danger .form-control:-webkit-autofill {
  background: transparent;
  border-bottom: 2px solid #ff4c52;
}

.form-material.has-danger .form-control:not(.empty) {
  background-size: 100% 2px, 100% 1px;
}

.form-material.has-danger .form-control-label {
  color: #ff4c52;
}

.form-material.has-danger .form-control:focus~.floating-label, .form-material.has-danger .form-control.focus~.floating-label, .form-material.has-danger .form-control:not(.empty)~.floating-label {
  color: #ff4c52;
}

.form-material.has-danger .form-control:-webkit-autofill~.floating-label {
  color: #ff4c52;
}

.form-material.has-info .form-control:focus, .form-material.has-info .form-control.focus, .form-material.has-info .form-control:not(.empty) {
  background-image: linear-gradient(#0bb2d4, #0bb2d4), linear-gradient(#e4eaec, #e4eaec);
}

.no-cssgradients .form-material.has-info .form-control:focus, .no-cssgradients .form-material.has-info .form-control.focus, .no-cssgradients .form-material.has-info .form-control:not(.empty) {
  background: transparent;
  border-bottom: 2px solid #0bb2d4;
}

.form-material.has-info .form-control:-webkit-autofill {
  background-image: linear-gradient(#0bb2d4, #0bb2d4), linear-gradient(#e4eaec, #e4eaec);
}

.no-cssgradients .form-material.has-info .form-control:-webkit-autofill {
  background: transparent;
  border-bottom: 2px solid #0bb2d4;
}

.form-material.has-info .form-control:not(.empty) {
  background-size: 100% 2px, 100% 1px;
}

.form-material.has-info .form-control-label {
  color: #0bb2d4;
}

.form-material.has-info .form-control:focus~.floating-label, .form-material.has-info .form-control.focus~.floating-label, .form-material.has-info .form-control:not(.empty)~.floating-label {
  color: #0bb2d4;
}

.form-material.has-info .form-control:-webkit-autofill~.floating-label {
  color: #0bb2d4;
}

.form-material .form-control:disabled~.floating-label, .form-material .form-control[disabled]~.floating-label, fieldset[disabled] .form-material .form-control~.floating-label {
  color: #ccd5db;
}

.form-material textarea.form-control, .form-material select[multiple], .form-material select[size] {
  height: auto;
}

.form-material .form-control-label {
  font-weight: 500;
}

.form-material.form-group .form-control-label {
  padding-top: 0;
  padding-bottom: 0;
}

.form-material .floating-label {
  position: absolute;
  left: 0;
  font-size: 1rem;
  color: #76838f;
  pointer-events: none;
  transition: .3s ease all;
}

.form-material .floating-label.floating-label-static {
  position: relative;
  top: auto;
  display: block;
}

.form-material [class*="col-"]>.floating-label {
  left: 1.0715rem;
}

.form-material .form-control~.floating-label {
  top: .57142857rem;
  font-size: 1rem;
}

.form-material .form-control:focus~.floating-label, .form-material .form-control.focus~.floating-label, .form-material .form-control:not(.empty)~.floating-label {
  top: -0.8rem;
  font-size: .8rem;
}

.form-material .form-control:-webkit-autofill~.floating-label {
  top: -0.8rem;
  font-size: .8rem;
}

.form-material .form-control-sm~.floating-label {
  top: .429rem;
  font-size: .858rem;
}

.form-material .form-control-sm:focus~.floating-label, .form-material .form-control-sm.focus~.floating-label, .form-material .form-control-sm:not(.empty)~.floating-label {
  top: -0.6864rem;
  font-size: .6864rem;
}

.form-material .form-control-sm:-webkit-autofill~.floating-label {
  top: -0.6864rem;
  font-size: .6864rem;
}

.form-material .form-control-lg~.floating-label {
  top: .4286666667rem;
  font-size: 1.286rem;
}

.form-material .form-control-lg:focus~.floating-label, .form-material .form-control-lg.focus~.floating-label, .form-material .form-control-lg:not(.empty)~.floating-label {
  top: -1.0288rem;
  font-size: 1.0288rem;
}

.form-material .form-control-lg:-webkit-autofill~.floating-label {
  top: -1.0288rem;
  font-size: 1.0288rem;
}

.form-material .form-control:focus~.floating-label, .form-material .form-control.focus~.floating-label, .form-material .form-control:not(.empty)~.floating-label {
  font-weight: 500;
}

.form-material .form-control:-webkit-autofill~.floating-label {
  font-weight: 500;
}

.form-material .form-control:focus~.floating-label, .form-material .form-control.focus~.floating-label {
  color: #3e8ef7;
}

.form-material textarea.form-control {
  padding-bottom: .429rem;
  resize: none;
}

.form-material.floating textarea.form-control {
  padding-top: .429rem;
}

.form-material select.form-control {
  border: 0;
  border-radius: 0;
}

.form-material:not(.floating) .form-control-label+select[multiple] {
  margin-top: 5px;
}

.form-material .hint {
  position: absolute;
  display: none;
  font-size: 80%;
}

.form-material .form-control:focus~.hint, .form-material .form-control.focus~.hint {
  display: block;
}

.form-material .form-control:not(.empty):invalid~.floating-label, .form-material .form-control.focus:invalid~.floating-label {
  color: #ff4c52;
}

.form-material .form-control:invalid {
  background-image: linear-gradient(#ff4c52, #ff4c52), linear-gradient(#e4eaec, #e4eaec);
}

.form-material.has-danger .form-control:focus, .form-material.has-danger .form-control.focus, .form-material.has-danger .form-control:not(.empty) {
  background-image: linear-gradient(#ff4c52, #ff4c52), linear-gradient(#e4eaec, #e4eaec);
}

.no-cssgradients .form-material.has-danger .form-control:focus, .no-cssgradients .form-material.has-danger .form-control.focus, .no-cssgradients .form-material.has-danger .form-control:not(.empty) {
  background: transparent;
  border-bottom: 2px solid #ff4c52;
}

.form-material.has-danger .form-control:-webkit-autofill {
  background-image: linear-gradient(#ff4c52, #ff4c52), linear-gradient(#e4eaec, #e4eaec);
}

.no-cssgradients .form-material.has-danger .form-control:-webkit-autofill {
  background: transparent;
  border-bottom: 2px solid #ff4c52;
}

.form-material.has-danger .form-control:not(.empty) {
  background-size: 100% 2px, 100% 1px;
}

.form-material.has-danger .form-control-label {
  color: #ff4c52;
}

.form-material.has-danger .form-control:focus~.floating-label, .form-material.has-danger .form-control.focus~.floating-label, .form-material.has-danger .form-control:not(.empty)~.floating-label {
  color: #ff4c52;
}

.form-material.has-danger .form-control:-webkit-autofill~.floating-label {
  color: #ff4c52;
}

.panel-loading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  display: none;
  width: 100%;
  height: 100%;
  border-radius: .286rem;
  opacity: .6;
}

.panel-loading .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.panel>*:not(.panel-loading):not(.collapsing) {
  transition: opacity .3s;
}

.panel.is-loading>*:not(.panel-loading) {
  opacity: .3;
}

.panel.is-loading .panel-loading {
  display: block;
  opacity: 1;
}

.panel.is-fullscreen .panel-loading {
  border-radius: 0;
}

.loader-default {
  width: 1em;
  height: 1em;
  background-color: #a3afb7;
  border-radius: 100%;
  -webkit-animation: loader-default 1s infinite ease-in-out;
  animation: loader-default 1s infinite ease-in-out;
}

.loader {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  font-size: 40px;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.loader-default {
  width: 1em;
  height: 1em;
  background-color: #a3afb7;
  border-radius: 100%;
  -webkit-animation: loader-default 1s infinite ease-in-out;
  animation: loader-default 1s infinite ease-in-out;
}

@-webkit-keyframes loader-default {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes loader-default {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.panel.is-loading .panel-loading {
  display: block;
  opacity: 1;
}

.panel-loading {
  position: absolute;
  top: -15%;
  left: -1%;
  z-index: 6;
  display: none;
  width: 100%;
  height: 100%;
  border-radius: .286rem;
  opacity: .6;
}

.page-copyright-inverse {
  color: #fff;
}

.page-copyright {
  margin-top: 60px;
  font-size: .658rem;
  opacity: 0.9;
  letter-spacing: 1px;
}